.input-field {
  flex: 1 1 auto;
  display: block;
  padding: 5px;
  font-size: 15px;
  color: #595959;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.oh-custom-search {
  flex: none;
  width: 500px;
  height: 40px;
  margin-left: 70px;
  font-size: 24px;
  font-weight: 700;
  color: black;
  box-shadow: -1px 4px 5px 0px #d8d8d8;
}
